<nav class="navbar navbar-expand-lg navbar-light bg-gradient-light">
    <a class="navbar-brand h1 mb-0 ml-2 mr-2" href="#">
       <img src="https://i.ibb.co/7VrxgxS/png.png"  width="50" height="50" alt="png">Ateliê Digital</a>

     <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSite">
        <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSite">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['home']" >home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portifólio</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink] = "['contato']" >Contato</a>
                      </li>
                  </ul>


<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">
      Sociais
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Instagram</a>
        <a class="dropdown-item" href="#">WhatsApp</a>

      </div>
    </li>
  </ul>

<form class="form-inline">
    <input class="form-control ml-4 mr-2" type="search" placeholder="buscar...">
    <button class="btn btn-dark" type="Submit">OK</button>
  </form>

    </div>
</nav>


